{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "es5",

    "plugins": ["prettier-plugin-tailwindcss"],

    "tailwindStylesheet": "./src/index.css",
    "tailwindConfig": "./tailwind.config.js"
}